
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 15px;
}

.btn {
    text-decoration: none;
    background: #469165;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-outline {
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
}


.hero {
    height: 675px;
    background: url("img/hero-bg.png") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    max-width: 900px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.shape {
    background: white;
    color: #2f8f5b;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 24px;
}


.hero h1 {
    font-size: 48px;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #38b26f;
}

.hero p {
    max-width: 700px;
    color: #e5e7eb;
    opacity: 0.9;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
