
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 15px;
}

.btn {
    text-decoration: none;
    background: #469165;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-outline {
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
}


.hero {
    height: 675px;
    background: url("img/hero-bg.png") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    max-width: 900px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.shape {
    background: white;
    color: #2f8f5b;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 24px;
}


.hero h1 {
    font-size: 48px;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #38b26f;
}

.hero p {
    max-width: 700px;
    color: #e5e7eb;
    opacity: 0.9;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.note-content{
    
    align-items: center;
    justify-content: center;
    width: auto 1360px;
    height:auto 152px;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;   

}
.note-content h1{
    display:flex;
    align-items: center;
    justify-content: center;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}
.note-content p {
    display:flex;
    align-items: center;
    justify-content: center;
    font-style: Regular;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 44px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

/*box-container*/ 

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
    gap: 24px;
    width: 1360px;
    max-width: 1600;px
    height: 300px;
    margin: 0 auto;

}
.box-container .note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 322px;
    height: 300px;
    gap: 16px;
}
.box-container .bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 322px;
    height: 300px;
    gap: 16px;
}
.box-container .idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 322px;
    height: 300px;
    gap: 16px;
}
.box-container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 322px;
    height: 300px;
    gap: 16px;
}
.note img{
    margin-top: 69.5px;
    margin-bottom: 16px;
    margin-left: 131px;
    margin-right: 131px;
    padding: 24px 24px 24px 24px;
    border-radius: 160px;
    background-color: rgba(249, 85, 85, 1);
}
.note h2 {
    width: 274px;
    height: 29px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.note p{
    width: 274px;
    height: 40px;
    text-align: center;
}

/*bookmark*/

.bookmark img{
    margin-top: 69.5px;
    margin-bottom: 16px;
    margin-left: 131px;
    margin-right: 131px;
    padding: 24px 24px 24px 24px;
    border-radius: 160px;
    background-color: rgba(249, 85, 85, 1);
}
.bookmark h2 {
    width: 274px;
    height: 29px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.bookmark p{
    width: 274px;
    height: 40px;
    text-align: center;
}

/*idea*/


.idea img{
    margin-top: 69.5px;
    margin-bottom: 16px;
    margin-left: 131px;
    margin-right: 131px;
    padding: 24px 24px 24px 24px;
    border-radius: 160px;
    background-color: rgba(249, 85, 85, 1);
}
.idea h2 {
    width: 274px;
    height: 29px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.idea p{
    width: 274px;
    height: 40px;
    text-align: center;
}

/*info*/

.info img{
    margin-top: 69.5px;
    margin-bottom: 16px;
    margin-left: 131px;
    margin-right: 131px;
    padding: 24px 24px 24px 24px;
    border-radius: 160px;
    background-color: rgba(249, 85, 85, 1);
}
.info h2 {
    width: 274px;
    height: 29px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.info p{
    width: 274px;
    height: 40px;
    margin-top: 16px;
    text-align: center;
}

/*solution*/

.solution{
    display:flex;
    width: auto 1360px;
    height: auto 600px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    

}

.solution .imgs {
    width: fixed 600px;
    height: fixed 600px;
    margin-left: 120px;
    margin-right:60px;
    border-radius: 12px;
}

.solution .solution-container{
    margin-top: 120px;
    margin-right: 120px;
}

.solution-container h5{
    color: rgba(70, 145, 101, 1);
    width: 700px;
    height: 20px;
    margin-top: 16px;
}


.solution .solution-container h1{
    color: ;
    width: auto 700px;
    height: auto 116px;
    font-style: bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

}

.solution .solution-container p{
    color: ;
    font-size: 16px;
    font-style:normal ;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    width: auto 700px;
    height: auto 60px;


}

.solution-feature {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-item img {
    width: 18px;
    height: 18px;
}

.feature-item span {
    font-size: 15px;
}
