
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 160px;
    padding-top: 16px;
    max-width: 1600px;
}

.footer .text-item{
    color: white;
    text-decoration: none;
    gap: 32px;
}
.footer .btn { 
    text-decoration: none;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(255, 255, 255, 1);
}


.shape {
    display: inline-block;
    background: #e6f4ec;
    color: #2f8f5b;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.hero {
    background-image: url(/img/hero-bg.png);
    width: 2042px;
    height: 1363px;
    background-repeat: no-repeat;

}
.hero .hero-content {
    padding-left: 341px;
    padding-right: 341px;
    padding-top: 115px;
    justify-content: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    max-width: 1360px;

}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
}

.hero h1 span {
    color: #38b26f;
}

.hero p {
    opacity: .9;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}
